apiVersion: apps/v1
kind: Deployment
metadata:
  name: transaction-risk-service
  labels:
    app: transaction-risk
spec:
  replicas: 1
  selector:
    matchLabels:
      app: transaction-risk
  template:
    metadata:
      labels:
        app: transaction-risk
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      containers:
        - name: transaction-risk
          image: <YOUR_DOCKERHUB_USERNAME>/transaction-risk-service:latest
          ports:
            - containerPort: 8080

          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 15
